<section class="container">
    <h3>Enter few details to complete registration</h3>
    <form>
        <div class="form-group">
            <label for="username">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control" id="Password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="Password">Confirm Password</label>
            <input type="password" class="form-control" id="Password" placeholder="Password">
        </div>
        <button class="btn btn-success" type="submit">Sign Up</button>  (Or)<a class="btn btn-link" href="#/login">Login</a>
    </form>
</section>